<!DOCTYPE html>
<html class="h-100" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 추가 meta tag -->
    <th:block layout:fragment="add_meta"></th:block>
    
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">spring-webservice</title>
    
    <!-- Bootstrap core CSS 4.3.1 -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
    <!-- 추가 css -->
    <th:block layout:fragment="add_css"></th:block>

</head>

<body class="d-flex flex-column h-100">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">spring-webservice</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" name="home" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" name="news" href="/news/list">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" name="disabled" href="#">Disabled</a>
                    </li>
                </ul>
<!-- 
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
        </nav>
    </header>


    <!-- page content body 구성 -->
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <section layout:fragment="content"><p>Page content goes here</p></section>
        </div>
    </main>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>

    <script src="/jquery/3.4.1/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
	    $().ready( function() {
	        activateCurrentMenu( getMenuName() );
	    } ); 
        function activateCurrentMenu(currentMenuName) {
            
            $('ul.navbar-nav li.nav-item a.nav-link').removeClass('active');
            $('ul.navbar-nav li.nav-item a[name='+currentMenuName+']').addClass('active');
        }
        function getMenuName() {
        	var news = /\/news\/\S+/i;
        	
        	var currrent = location.pathname;
            console.log(currrent);
            
        	if ( currrent == '/' ) {
        		return 'home';
        	} else if ( currrent.match(news) ) {
                return 'news';
        	}
        }
    </script>
    <th:block layout:fragment="add_js"></th:block>
</body>

</html>
