<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/layout_default">
<head>
    <th:block layout:fragment="add_meta">
    </th:block>
    
    <title>NEWS DETAIL</title>
    
    <th:block layout:fragment="add_css">
    </th:block>
</head>
<body>
    <section id="content" layout:fragment="content">
        <h1>NEWS DETAIL</h1>
    
        <table class="table table-bordered">
            <tr>
                <th>분류</th>
                <td th:text="${newsDetailDto.category.name}">카테고리 이름</td>
            </tr>
            <tr>
                <th>제목</th>
                <td th:text="${newsDetailDto.title}">제목</td>
            </tr>
            <tr>
                <th>글쓴이 이름</th>
                <td th:text="${newsDetailDto.createdBy.userName}">글쓴이 이름</td>
            </tr>
            <tr>
                <th>내용</th>
                <td th:text="${newsDetailDto.content}">내용</td>
            </tr>
            <tr>
                <th>첨부파일</th>
                <td>
                    <ul class="file_list">
                        <li th:each="file : ${newsDetailDto.files}" th:text="${file.fileName}">파일명</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>작성일시</th>
                <td th:text="${#temporals.format(newsDetailDto.createdDate,'yyyy-MM-dd HH:mm')}">작성일시</td>
            </tr>
        </table>
        
        <div id="buttons"  style="display: grid;">
            <div style="grid-column: 1;">
            </div>
            <div style="grid-column: 2;text-align: right;">
                <button class="btn btn-primary" type="submit" form="newsDetailForm" formmethod="get" formaction="/news/list">목록</button>
            </div>
        </div>
        
	    <form id="newsDetailForm">
	        <input type="hidden" name="title" th:if="${not #strings.isEmpty(param.title)}" th:value="${param.title}">
	        <input type="hidden" name="content" th:if="${not #strings.isEmpty(param.content)}" th:value="${param.content}">
	        <input type="hidden" name="titlecontent" th:if="${not #strings.isEmpty(param.titlecontent)}" th:value="${param.titlecontent}">
	        <input type="hidden" name="createdAfter" th:if="${not #strings.isEmpty(param.createdAfter)}" th:value="${param.createdAfter}">
	        <input type="hidden" name="createdBefore" th:if="${not #strings.isEmpty(param.createdBefore)}" th:value="${param.createdBefore}">
	        <input type="hidden" name="userName" th:if="${not #strings.isEmpty(param.userName)}" th:value="${param.userName}">
	        <input type="hidden" name="createdById" th:if="${not #strings.isEmpty(param.createdById)}" th:value="${param.createdById}">
	        <input type="hidden" name="category" th:if="${not #strings.isEmpty(param.category)}" th:value="${param.category}">
	        <input type="hidden" name="requestPage" th:if="${not #strings.isEmpty(param.requestPage)}" th:value="${param.requestPage}">
	    </form>
    </section>
    
    <th:block layout:fragment="add_js">
	    <script type="text/javascript">
	    </script>
    </th:block>
</body>
</html>