<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NEWS LIST</title>
    <style type="text/css">
        div#content {width:600px}
        #content table.list_table {border-collapse: collapse; width: 100%;}
        #content table.list_table td,th {border: solid 1px; padding: 3px 5px;}
        div.pagenate {text-align: center;}
        ul.page_nums {padding: 0;}
        ul.page_nums li {display: inline; margin: 0 2px;}
    </style>
</head>
<body>
    <h1>NEWS LIST BODY</h1>
    <div id="content">
    
        <table class="list_table">
            <colgroup>
                <col width="60px" />
                <col width="*" />
                <col width="60px" />
                <col width="60px" />
                <col width="60px" />
                <col width="60px" />
            </colgroup>
            <tr>
                <th>분류</th>
                <th>제목</th>
                <th>글쓴이 이름</th>
                <th>첨부파일 수</th>
                <th>코멘트 수</th>
                <th>작성일시</th>
            </tr>
            <tr th:each="news : ${newsPageResponseDto.elementsList}">
                <td th:text="${news.category.name}">카테고리 이름</td>
                <td th:text="${news.title}">제목</td>
                <td th:text="${news.createdBy.userName}">글쓴이 이름</td>
                <td th:text="${news.filesCount}">첨부파일 수</td>
                <td th:text="${news.commentCount}">코멘트 수</td>
                <td th:text="${news.createdDate}">작성일시</td>
            </tr>
        </table>
        
        
        <style>
            .pagenate ul.linkList { list-style:none; }
            .pagenate ul.linkList li { margin:0 5px; float:left; }
        </style>
        <div class="pagenate" th:with="pagenate=${newsPageResponseDto}">
	        <ul class="linkList">
                <li>
                    <a aria-label="First" href="/news/list?requestPage=1">&laquo;</a>
                </li>
                
                <li th:with="prev=${pagenate.currentPage-pagenate.pagesPerBlock < 1 ? 1 : pagenate.currentPage-pagenate.pagesPerBlock}">
                    <a th:href="@{/news/list(requestPage=${prev})}">&lsaquo;</a>
                </li>
        
                <li th:each="page :${#numbers.sequence(pagenate.blockStart, pagenate.blockEnd)}" th:style="${page == pagenate.currentPage} ? 'font-weight:bold'">
                    <a th:href="@{/news/list(requestPage=${page})}" th:text="${page}"><span class="sr-only"></span></a>
                </li>
        
                <li th:with="next=${pagenate.currentPage+pagenate.pagesPerBlock > pagenate.totalPages ? pagenate.totalPages : pagenate.currentPage+pagenate.pagesPerBlock}">
                    <a th:href="@{/news/list(requestPage=${next})}">&rsaquo;</a>
                </li>
                
                <li>
                    <a aria-label="Last" th:href="@{/news/list(requestPage=${pagenate.totalPages})}">&raquo;</a>
                </li>
	        </ul>
        </div>
    
    </div>

</body>
</html>