<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="pagenate" th:fragment="pagenavi">
	    <style>
            .pagenate ul.link_list { list-style:none; display:table; margin:auto; padding:0;}
            .pagenate ul.link_list li { margin:0 5px; float:left; }
	    </style>
        <ul class="link_list">
            <li>
                <a href="javascript:void(0);" th:attr="onclick=|list('1');return false;|">&laquo;</a>
            </li>
            
            <li th:with="prev=${pagenate.currentPage-pagenate.pagesPerBlock < 1 ? 1 : pagenate.currentPage-pagenate.pagesPerBlock}">
                <a href="javascript:void(0);" th:attr="onclick=|list('${prev}');return false;|">&lsaquo;</a>
            </li>
    
            <li th:each="page :${#numbers.sequence(pagenate.blockStart, pagenate.blockEnd)}" th:style="${page == pagenate.currentPage} ? 'font-weight:bold'">
                <a href="javascript:void(0);" th:attr="onclick=|list('${page}');return false;|" th:text="${page}">1</a>
            </li>
    
            <li th:with="next=${pagenate.currentPage+pagenate.pagesPerBlock > pagenate.totalPages ? pagenate.totalPages : pagenate.currentPage+pagenate.pagesPerBlock}">
                <a href="javascript:void(0);" th:attr="onclick=|list('${next}');return false;|">&rsaquo;</a>
            </li>
            
            <li>
                <a href="javascript:void(0);" th:attr="onclick=|list(${pagenate.totalPages});return false;|">&raquo;</a>
            </li>
        </ul>
    </div>

</body>
</html>