<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="pagenate" th:fragment="pagenavi">
	    <style>
            .pagenate ul.link_list { list-style:none; display:table; margin:auto; padding:0;}
            .pagenate ul.link_list li { margin:0 5px; float:left; }
	    </style>
        <ul class="link_list">
            <li>
                <a aria-label="First" href="/news/list?requestPage=1">&laquo;</a>
            </li>
            
            <li th:with="prev=${pagenate.currentPage-pagenate.pagesPerBlock < 1 ? 1 : pagenate.currentPage-pagenate.pagesPerBlock}">
                <a th:href="@{/news/list(requestPage=${prev})}">&lsaquo;</a>
            </li>
    
            <li th:each="page :${#numbers.sequence(pagenate.blockStart, pagenate.blockEnd)}" th:style="${page == pagenate.currentPage} ? 'font-weight:bold'">
                <a th:href="@{/news/list(requestPage=${page})}" th:text="${page}">1</a>
            </li>
    
            <li th:with="next=${pagenate.currentPage+pagenate.pagesPerBlock > pagenate.totalPages ? pagenate.totalPages : pagenate.currentPage+pagenate.pagesPerBlock}">
                <a th:href="@{/news/list(requestPage=${next})}">&rsaquo;</a>
            </li>
            
            <li>
                <a aria-label="Last" th:href="@{/news/list(requestPage=${pagenate.totalPages})}">&raquo;</a>
            </li>
        </ul>
    </div>

</body>
</html>