<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <nav id="pagenation" th:fragment="pagenavi">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="javascript:void(0);" th:attr="onclick=|${listMethodName}(1);return false;|">
                    <span>&laquo;</span>
                </a>
            </li>
            <li th:with="prev=${pagenate.currentPage - pagenate.pagesPerBlock < 1 ? 1 : pagenate.currentPage - pagenate.pagesPerBlock}">
                <a class="page-link" href="javascript:void(0);" th:attr="onclick=|${listMethodName}(${prev});return false;|">
                    <span>&lsaquo;</span>
                </a>
            </li>
            
            <li class="page-item" th:each="page :${#numbers.sequence(pagenate.blockStart, pagenate.blockEnd)}" th:style="${page == pagenate.currentPage} ? 'font-weight:bold'">
                <a class="page-link" href="javascript:void(0);" th:attr="onclick=|${listMethodName}(${page});return false;|" th:text="${page}">1</a>
            </li>
            
            <li class="page-item" th:with="next=${pagenate.currentPage+pagenate.pagesPerBlock > pagenate.totalPages ? pagenate.totalPages : pagenate.currentPage+pagenate.pagesPerBlock}">
                <a class="page-link" href="javascript:void(0);" th:attr="onclick=|${listMethodName}(${next});return false;|">
                    <span>&rsaquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0);" th:attr="onclick=|${listMethodName}(${pagenate.totalPages});return false;|">
                    <span>&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>